
.championsPopupCont {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 3;

  
  right: -250px;
  top: 0px;
  height: 100%;
  transition: right 0.4s ease;
}

.championsPopupCont.opened {
  right: 0px;
}

button {
  display: block;
  background-color: #553621;
  font-family: "Constantia","Palatino","Georgia",serif;
  letter-spacing: 1px;
  border: 1px solid black;
  box-shadow: 0 0 0px 1px #553621;
  text-align: center;
  border-radius: 34px;
  padding: 0px;
  outline: none;
  /* padding: 0px 10px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: #CAB5A2;
  font-size: 28px;
  align-self: flex-end;
  margin-bottom: 30px;
  /* width: -webkit-fit-content; */
  width: -moz-fit-content;
  /* width: fit-content; */
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.championsPopup {
  height: 100%;
  width: 250px;
  background: rgba(0,0,0,.6);
  border-top: 1px solid rgba(148,114,77,.3);
}

span {
  padding: 0px 10px;
  height: 36px;
}

.fa, .fas {
  font-weight: 700;
  font-size: 24px;
  height: 50px;
  line-height: 48px;
  width: 50px;
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.opened .fa, .opened .fas {
  height: 50px;
  line-height: 48px;
  width: 50px;
  transform: rotate(45deg);
}

.championsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 15px 0px;
  overflow-x: auto;
}

.championsWrapper::-webkit-scrollbar-track
{
	background-color: rgba(255, 255, 255, 0.1);
}

.championsWrapper::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(255, 255, 255, 0.1);
}

.championsWrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}



img {
  width: 50px;
  height: 50px;
  margin: 2px 2px;
  transform: none !important;
}
